@import url('https://fonts.googleapis.com/css2?family=Spline+Sans&display=swap');

body {
  font-family: 'Spline Sans', sans-serif;
  background-color: #008080;
  color: #FFFFFF;
  margin: 0;
  padding: 0;
}

header {
  background-color: #DC143C;
  text-align: center;
  font-size: 1.5em;
  margin: 0;
  padding: 0;
}
header > h1 {
  margin: 0;
  padding: 0;
}

main {
  margin: 0;
  padding: 1em;
}
main a {
  color: #191970;
  text-decoration: underline;
}
article {
  border-bottom: solid 10px #fffacd;
  margin-bottom: 10px;
}